.git
.env
.vscode
SubtitleTranslate/subs

# Ignore all YAML configuration files
*.yaml
*.yml

# Do not ignore the example YAML file
!config.example.yaml

# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
